---
import Layout from "~/layouts/Layout.astro"
import Header from "~/components/Header.astro"
import Generator from "~/components/Generator"
import "~/styles/global.css"
import "@unocss/reset/tailwind.css"
import "katex/dist/katex.min.css"
import "highlight.js/styles/atom-one-dark.css"
import { parsePrompts } from "~/utils/parse"
import { setting, message, resetContinuousDialogue   } from "~/system"
// const prompts = parsePrompts()

const prompt = '我希望你充当基于文本的 excel。您只会回复我基于文本的 10 行 Excel 工作表，其中行号和单元格字母作为列（A 到 L）。第一列标题应为空以引用行号。我会告诉你在单元格中写入什么，你只会以文本形式回复 excel 表格的结果，而不是其他任何内容。不要写解释。我会写你的公式，你会执行公式，你只会回复 excel 表的结果作为文本。首先，回复我空表。'

const defaultMessage = import.meta.env.DEFAULT_MESSAGE || process.env.DEFAULT_MESSAGE || message
let defaultSetting
try {
  defaultSetting = JSON.parse(import.meta.env.DEFAULT_SETTING || process.env.DEFAULT_SETTING)
} catch {
  defaultSetting = setting
}

const reset = import.meta.env.RESET_CONTINUOUS_DIALOGUE_OPTION === String(resetContinuousDialogue ) || process.env.RESET_CONTINUOUS_DIALOGUE_OPTION === String(resetContinuousDialogue)
---

<Layout title="ChatGPT">
  <main class="before">
    <Header />
    <Generator env={{
      defaultSetting,
      defaultMessage,
      resetContinuousDialogue: reset ? resetContinuousDialogue : !resetContinuousDialogue
    }} prompts={[]} prompt={prompt} client:visible />
  </main>
</Layout>
